<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Absolut Reader - E-book reader</title>
    <meta name="keywords" content="&quot;Pdf, PDF, e-book, book, reader, android, chaimager, absolut reader&quot;">
    <meta name="description" content="The next generation e-book reader for android that brings completely new features, like Chaimager.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta name="twitter:card" content="summary">
    <link rel="icon" type="image/png" sizes="500x500" href="{% static 'assets/img/logo.png'%}">
    <link rel="icon" type="image/png" sizes="500x500" href="{% static 'assets/img/logo.png'%}">
    <link rel="icon" type="image/png" sizes="500x500" href="{% static 'assets/img/logo.png'%}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus+Slab">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="{% static 'assets/css/Animated-gradient-background-1.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Animated-gradient-background-2.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Animated-gradient-background.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/animated-services.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Animated-Text-Background.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/gradient-navbar-1.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/gradient-navbar.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-Menu.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css'%}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar" style="max-height: 10vh;">
        <div class="container-fluid"><a class="navbar-brand" href="/"><img src="{% static 'assets/img/logo.png' %} " style="max-height: 6vh;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contribute</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="services" class="services" style="background-image: url('/static/assets/img/book_background.jpg');min-height: 100vh;background-repeat: round;">
        <div class="container-md section-title">
            <h1 style="color: #ffffff;align-self: center;text-align: center;">Contribute!</h1>
            <p style="text-align: center;color: #FFFFFF;font-size: 1.5rem;"><strong>Because we also need a home to live in. Exclusive perks for those who contribute:</strong></p>
            <div class="row">
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon">
                            <h4 class="title">Almost unlimited e-book saving*</h4>
                            <p class="description">When contributing, instead of 2, you can upload up to 100 e-books at the same time to the cloud, so you can read them everywhere you want, without loosing your track.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon">
                            <h4 class="title">Show your swag*<a href="#"></a></h4>
                            <p class="description">Show how cool your are with exclusive badges and a rainbow theme on your user page.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon">
                            <h4 class="title">Too slow?*<a href="#"></a></h4>
                            <p class="description">Chaimager is a powerful script that can be slow if your device is not that good. let us load it on our server and ship it back to you faster, if you have an internet connection.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon">
                            <h4 class="title">Peace<a href="#"></a></h4>
                            <p class="description">If you donate your spirit will be in such a peace, because helping others is good.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin: 3vh;">
                <p style="color: rgb(0, 0, 0);font-weight: bold;text-align: center;">We are trying to maximize the cool stuff you can get for free, but, you know, we also need to maintain the app, and that costs us time. Your support is always welcome.<br>*These features are not available for now since are yet being developed, but they will be added as soon as they are ready and tested.</p>
            </div>
        </div>
    </section>
    <section id="services-2" class="services" style="margin-top: 10vh;">
        <div class="container-md section-title">
            <p style="text-align: center;font-size: 1.5rem;"><strong>Donate now:</strong></p>
            <h5>Message u/michaelangelito on reddit</h5>
        </div>
    </section>
    <section id="services-1" class="services" style="margin-top: 10vh;"></section><footer id="footer">
    
    <div style= "background: #A88700; text-align: center; margin: 0px; padding:10px">
        <p style= "color:white; font-family: raleway">Copyright (c) 2021 AbsolutReader. <a href="https://xval.me"> https://xval.me </a> for other cool stuff.</p>
    </div>
</footer>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'assets/js/Animated-gradient-background.js' %} "></script>
    <script src="{% static 'assets/js/Animated-Text-Background.js' %} "></script>
</body>

</html>