<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Absolut Reader - E-book reader</title>
    <meta name="keywords" content="&quot;Pdf, PDF, e-book, book, reader, android, chaimager, absolut reader&quot;">
    <meta name="description" content="The next generation e-book reader for android that brings completely new features, like Chaimager.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta name="twitter:card" content="summary">
    <link rel="icon" type="image/png" sizes="500x500" href="{% static 'assets/img/logo.png'%}">
    <link rel="icon" type="image/png" sizes="500x500" href="{% static 'assets/img/logo.png'%}">
    <link rel="icon" type="image/png" sizes="500x500" href="{% static 'assets/img/logo.png'%}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus+Slab">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="{% static 'assets/css/Animated-gradient-background-1.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Animated-gradient-background-2.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Animated-gradient-background.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/animated-services.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Animated-Text-Background.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/gradient-navbar-1.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/gradient-navbar.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-Menu.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css'%}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar" style="max-height: 10vh;">
        <div class="container-fluid"><a class="navbar-brand" href="#"><img src="{% static 'assets/img/logo.png'%}" style="max-height: 6vh;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="contribute">Contribute</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="services" class="services" style="background-image: url('static/assets/img/book_background.jpg'); min-height: 100vh;background-repeat: round;">
        <div class="container-md section-title">
            <h1 style="color: #ffffff;align-self: center;text-align: center;">Absolut Reader</h1>
            <p style="text-align: center;color: #FFFFFF;font-size: 1.5rem;"><br><strong>The next generation e-book reader. Free forever. Easily customizable.</strong><br><br></p>
            <div class="row">
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon">
                            <h4 class="title">Chaimager<a href="#"></a></h4>
                            <p class="description">Chaimager makes your life easier, adding information about a specific character or place, whenever you can´t remember.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon">
                            <h4 class="title">Customizable<a href="#"></a></h4>
                            <p class="description">Change everything you want, from the background color, to the library style.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon">
                            <h4 class="title">Server side ready<a href="#"></a></h4>
                            <p class="description">Never loose your track just because you don´t have your mobile next to you. Keep reading everywhere, since your files can go to the cloud.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon">
                            <h4 class="title">Track your progress<a href="#"></a></h4>
                            <p class="description">With an account system, check out what your friends are reading, and have full control over your profile.&nbsp; &nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin: 3vh;">
                <p style="color: rgb(255,255,255);font-weight: bold;text-align: center;">Help the project by making a donation!</p>
            </div>
        </div>
    </section>
    <section id="services-3" class="services" style="background-image: url('static/assets/img/book_background.jpg');min-height: 100vh;background-repeat: round;">
        <div class="container-md section-title">
            <p style="text-align: center;color: #FFFFFF;font-size: 1.5rem;"><br><strong>But, what is Absolut Reader?</strong></p>
            <div class="row">
                <div class="col" style="vertical-align: middle;">
                    <h3 style="color: rgb(0, 0, 0);font-weight: bold; margin: 4vh;">We are trying to make the next generation e-book reader for all your devices. May you use Windows, Android or IOS, you can access the content and read your favourite books on our app. It is completely free, highly customizable, and brings up Chaimager, so that you will never forget again the name of your characters.</h3>
                    <h4 style="color: rgb(0, 0, 0);font-weight: bold; margin: 4vh;">Our self-imposed deadline is having version 1.0 launched before the end of the year, so if you want to join the alpha and beta testing, you can easily download our latest build soon!<br>Please be aware that many bugs can happen, and we do apologize for them, and ask you to report them on our github page, that will be soon ready for you.</h4>
                    <h5 style="color: rgb(0, 0, 0);font-weight: bold; margin: 4vh;">If you are a developer or designer and want to join our team contact us via u/michaelangelito (main head of the project) on reddit. You are always welcome. Currently we are using Django for the server and React-native for the app development, so if you are keen on these topics, message us!</h5>
                </div>
            </div>
        </div>
    </section>
    <section id="services-2" class="services" style="margin-top: 10vh;">
        <div class="container-md section-title">
            <p style="text-align: center;font-size: 1.5rem;"><strong>This project is currently on heavy development, and is still not available on the playstore. When beta 0.1 is released, it will be also added. IOS and Windows development is not being develpped for now.</strong></p>
        </div>
    </section>
    <section id="services-1" class="services" style="margin-top: 10vh;">
        <div class="container-md section-title">
            <h4>Some alpha screenshots:</h4>
            <div style="text-align: center;"><img src="{% static 'assets/img/01.jpg'%}" style="max-width: 40vw;"><img src="{% static 'assets/img/feefef.jpg'%}" style="max-width: 40vw;"></div>
        </div>
    </section><footer id="footer">
    
    <div style= "background: #A88700; text-align: center; margin: 0px; padding:10px">
        <p style= "color:white; font-family: raleway">Copyright (c) 2021 AbsolutReader. <a href="https://xval.me"> https://xval.me </a> for other cool stuff.</p>
    </div>
</footer>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/Animated-gradient-background.js'%}"></script>
    <script src="{% static 'assets/js/Animated-Text-Background.js'%}"></script>
</body>

</html>